<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">post</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation();
            loadPosts(expandedElement)
          "
        >
          <mat-icon *ngIf="expandedElement !== element"
            >keyboard_arrow_down</mat-icon
          >
          <mat-icon *ngIf="expandedElement === element"
            >keyboard_arrow_up</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
          class="element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div
            class="loading no-posts"
            *ngIf="element && !element.loadedPosts; else detail"
          >
            <span> <i>Loading...</i> </span>
          </div>
          <ng-template #detail>
            <div
              *ngIf="element.posts && element.posts.length > 0; else noPosts"
              class="post-list"
            >
              <div *ngFor="let post of element.posts" class="post-item">
                <h1>{{ post.title }}</h1>
                <h3>{{ post.body }}</h3>
              </div>
            </div>
            <div class="create-post">
              <button mat-flat-button color="primary">Create a post</button>
            </div>
            <ng-template class="no-posts" #noPosts>
              <span>No posts yet</span>
              <button mat-flat-button color="primary">Create a post</button>
            </ng-template>
          </ng-template>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="
        expandedElement = expandedElement === element ? null : element;
        loadPosts(expandedElement)
      "
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"
    ></tr>
  </table>
</div>
