@media screen and (min-width: 768px) {
  .background-img {
    right: -280px;
  }

  .nav-container {
    .auth-buttons {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      gap: 2rem;
      margin-right: 2rem;
      button {
        padding: 0 1.5rem;
      }
      :nth-child(2) {
        color: #7c3aed;
      }
    }
  }

  .mobile-menu-container {
    .auth-buttons {
      display: none;
    }
  }

  .header-container {
    margin-top: 2.5rem;
    padding: 2rem 5%;
    h1 {
      font-size: 3rem;
      line-height: 4rem;
      font-weight: bold;
    }
    h2 {
      font-size: 1.2rem;
    }
  }

  .cta-container {
    justify-content: flex-start;
    gap: 1.5rem;
  }

  .phone-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    img {
      max-width: 50vw;
    }
  }

  .features-container {
    margin: 3rem 0;
    .title {
      .title-br {
        display: none;
      }
      h1 {
        line-height: 1rem;
      }
      h3 {
        line-height: 1.5rem;
      }
    }
    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .feature {
      width: 40%;
    }
  }

  .metrics-container {
    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .metric {
      width: 40%;
      h1 {
        font-size: 2rem;
      }
    }
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    .logo-mark {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    .download-badges {
      margin-top: 1rem;
      margin-right: 1rem;
    }
  }
}
