<div class="nav-container">
  <nav>
    <a href="#"> <img src="../../assets/home/logo.svg" alt="" /></a>
    <ul style="list-style: none; display: none">
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </nav>
  <div class="auth-buttons">
    <button mat-flat-button color="primary" routerLink="login">Login</button>
    <button mat-flat-button>Sign Up</button>
  </div>
  <button mat-icon-button (click)="isMenuOpen = !isMenuOpen">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<div>
  <nav
    [ngStyle]="{ 'max-height': isMenuOpen ? '240px' : '0' }"
    class="mobile-menu-container"
  >
    <ul>
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Help</a></li>
    </ul>
    <div class="auth-buttons">
      <button mat-flat-button color="primary" routerLink="login">Login</button>
      <button mat-flat-button>Sign Up</button>
    </div>
  </nav>
</div>

<div class="header-container">
  <h1>The easiest way to manage projects</h1>
  <h2>
    From the small stuff to the big picture, organizes the work so teams know
    what to do, why it matters, and how to get it done.
  </h2>
</div>

<div class="cta-container">
  <button mat-flat-button color="primary">Get Started</button>
  <button mat-button color="primary">
    <mat-icon fontIcon="play_circle_outline"></mat-icon>
    Watch Video
  </button>
</div>

<div class="phone-container">
  <img src="../../assets/home/mobile.png" />
</div>

<div class="features-container">
  <div class="title">
    <h1>Tailor-made <br class="title-br" />features</h1>
    <h3>
      Lorem ipsum is common placeholder text used to demonstrate the graphic
      elements of a document or visual presentation.
    </h3>
  </div>
  <div class="items">
    <div class="feature" *ngFor="let feature of features">
      <img [src]="feature.img" />
      <h1>{{ feature.title }}</h1>
      <h3>{{ feature.description }}</h3>
    </div>
  </div>
</div>

<div class="metrics-container">
  <div class="title">
    <h1>Our 18 years of achievements</h1>
    <h3>With our super powers we have reached this</h3>
  </div>
  <div class="items">
    <div class="metric" *ngFor="let metric of metrics">
      <img [src]="metric.img" />
      <div>
        <h1>{{ metric.title }}</h1>
        <h3>{{ metric.description }}</h3>
      </div>
    </div>
  </div>
</div>

<div class="footer-container">
  <div>
    <img class="logo-mark" src="../../assets/home/logo-mark.svg" />
    <div class="links">
      <ul>
        <div class="first-row">
          <li><a href="#">Download Now</a></li>
          <li><a href="#">License</a></li>
        </div>
        <li><a href="#">About</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <p>© 2021 Landify UI Kit. All rights reserved</p>
  </div>
  <div class="download-badges">
    <span>Get the App</span>
    <a href="#"><img src="../../assets/home/app-store.svg" /></a>
    <a href="#"><img src="../../assets/home/play-store.svg" /></a>
  </div>
</div>

<img class="background-img" src="../../assets/home/background.jpg" />
